In [4]:
import pandas as pd

series_1 = pd.Series(list(range(10)))

series_2 = pd.Series(list(range(20,30)))

In [5]:
df = pd.DataFrame(columns = ['Column_name#1', 'Column_name#1'])

In [6]:
df['Column_name#1'] = series_1

df['Column_name#2'] = series_2

In [8]:
df.head(20)

   Column_name#1  Column_name#1  Column_name#2
0              0              0             20
1              1              1             21
2              2              2             22
3              3              3             23
4              4              4             24
5              5              5             25
6              6              6             26
7              7              7             27
8              8              8             28
9              9              9             29